/* Local Amiri Regular */
@font-face {
  font-family: 'Amiri';
  font-weight: 700;
  src: url('./assets/Amiri-Regular.ttf') format('woff2'),
       url('./assets/Amiri-Regular.ttf') format('woff');
}

body {
  margin: 0;
  font-family: 'Amiri';
  /* Background image */
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.6); /* translucent */
  padding: 20px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  backdrop-filter: blur(3px);
}

.container h2 {
    font-size: 2.2rem;
}


h1 {
  margin: 0 0 20px 0;
  font-size: 1.7rem;
}

#count {
  font-size: 6rem;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  font-family: 'Amiri';
  font-weight: bold;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #45a049;
}
